.nav1 {
    background-color: gray;
    color: white;
    padding: 1rem;
}
a {
    color: white;
}
.clear {
    clear: both;
}
nav ul {
    float: right;
    list-style: none;
}
nav li {
    float: left;
    margin: 0rem 2rem;
}
.sec1 {
   background-image: url("/images/pic.jpg"); 
   height: 60rem;
   background-position: center;
   background-size: cover;
   text-align: center;
   color: white;
   padding-top: 5rem;
   text-shadow: 3px 3px 3px white;
}
.h1 {
    font-size: 5rem;
}
.p1 {
    font-size: 3rem;
}
h2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 1rem;
    font-size: 2rem;
    margin-top: 20px;

}
.sec2 {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
    background-size: cover;
    text-align: center;
    padding-top: 5rem;
}
.proj {
    text-align: center;
    padding-right: 50%;
    
}
.pic1 {
    display: flex;
    width: 50%;
    height: 400px;
    float: left;
    margin-right: 50px;
}
.btn {
    padding: 10px 35px;
    background-color: transparent;
    border: 1px solid white;
    color:white;
    outline: none;
    transition: .6 ease;
}
.btn {
cursor: pointer;
background-color: white;
color: black;
box-shadow: white;
font-weight: bold;
}
.intro {
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
    font-size: 3rem;
    margin-bottom: 20px;
    float: right;
    margin-right: 50rem;

}
.p2 {
display: flex;
flex-direction: column;
text-align: justify;
padding: 10px;
border-radius: 50px;
float: right;
margin-right: 7rem;
margin-bottom: 7rem;
padding-bottom: 80%;
}   
.nav3 {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    background-color: black;
} 
.p3 {
    display: flex;
    flex-direction: column;
    float: right;
    border-radius: 10rem;
    margin-right: rem;
    margin-bottom: 15rem;
    padding-bottom: 5rem;
    text-align: justify;
    padding: 10rem;
}
.container {
    display: flex;
    position: relative;
    margin: 40px 0;
    background-color: blue;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.795);
    background-size: cover;
    margin-bottom: 50px;
    
}
.img1 {
    box-shadow: -30px 30px 20px rgba(0, 0, 0, 0.3);
}
.img2 {
    box-shadow: -30px 30px 20px rgba(0, 0, 0, 0.3);
}
.img3 {
    box-shadow: rgba(0, 0, 0, 0.3);
}
h3 {
    font-size: 25px;
}
.proj {
    text-align: center;

}
.div2 {
    background: #333;
}
.skills {
    width: 500px;
    margin: 60px auto;
    color: white;
}
.skills li {
    margin: 20px 0;
}
.bar {
    background: #353b48;
    display: block;
    height: 2px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px #2187e7b3;
}
.bar span {
    height: 2px;
    float: left;
    background: #2187e7;
}
.html {
    width: 90%;
    animation: html 2s;
}
.css{
  width: 70%; 
  animation: css 2s; 
}
.bootstrap {
  width: 45%;
  animation: bootstrap 2s; 
}
.javascript {
    width: 30%;
    animation: javascript 2s;
}
@keyframes html {
    0%{
        width: 0%;
    }
    100%{
      width: 90%;  
    }
}@keyframes css {
    0%{
        width: 0%;
    }
    100%{
      width: 70%;  
    }
}
@keyframes bootstrap {
    0%{
        width: 0%;
    }
    100%{
      width: 45%;  
    }
}
@keyframes javascript {
    0%{
        width: 0%;
    }
    100%{
      width: 30%;  
    }
}
.contact {
      background: rgba(250, 245, 245, 0.281);
      
}
.ip {
    margin: 30px 0 10px;
    position: relative;
    width: 30rem;
    height: 100px;
    transition: 0.5s;
    padding: 0 10px;
    background: transparent;
}

.input{
    width: 100%;
    height: 40px;
    background: transparent;
    box-shadow: none;
    font-size: 18px;
    padding: 0 10px;
    margin: 30px 0 10px;
    transition: 0.5s;
    text-align: center;
}

.contact {
    display: grid;
    width: 100%;
    background:rgba(0, 0, 0, 0.863) ;
    color: #45f3ff;
}
.innerfooter {
    display: flex;

}

.innerfooter {
    margin: 0;
    padding: 0;
    background-color: #272727;
}
.media {
    display: flex;
    list-style: none;
    padding: 10px 50px;
    font-size: 30px;
    height: 30px;
    width: 300px;
    color: #6cccc6;
    margin: auto;

}
.outerfooter {
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 20px;
    background-color: #3f3f3f;
}
.media li{
    padding: 10px;
}
.media i{
    color: #6cccc6;
}
/* {
    border: 3px lawngreen dashed;

}*/